<div class="contenedor">
  <mat-toolbar color="basic">
    <span class="toolbar-spacer"></span>
    <button mat-flat-button color="primary" (click)="addProduct()">
      <mat-icon>
        add
      </mat-icon>
      Nuevo Producto
    </button>
  </mat-toolbar>
  <div>
    <mat-card *ngFor="let producto of productos">
      <mat-card-header>
        <mat-card-title class="producto-titulo">
            {{producto.producto}}
            <button mat-icon-button [matMenuTriggerFor]="menuUser">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuUser="matMenu">
                <button mat-menu-item (click)="editProduct(producto)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar Producto</span>
                </button>
              </mat-menu>
        </mat-card-title>


      </mat-card-header>
      <mat-card-content>
        <p>
          {{producto.detalle}}
        </p>
        <p>Precio: {{producto.precio}}</p>
        <p>Cantidad: {{producto.cantidad}}</p>
        <p>Stock: {{producto.stock}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
